main{
    background-image: url('../img/bg-header.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 40rem;
    
}
header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5.4rem ;
    padding: 4.4rem;
    align-items: center;
}

header ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    width: 60rem;
}

header ul li {
    cursor: pointer;
}
header ul li:hover {
    color: #747373;
    transition: 0.5s;
}
.central-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central-main h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 2.6rem;

}

.central-main p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #FFFFFF;
    margin-top: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central-main a{
    font-family: 'Open Sans';
    margin-top: 4rem;
    text-align: center;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px;
    width: 35rem;
    height: 5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    line-height:4.4rem;
}

.central-main a:hover{
    background-color: #7473736c;
    transition:0.5s;
}


/* Responsividade*/

/* 768px Tablet*/
@media (max-width: 768px)
{
    main{
        background: #00161C;
        border-radius: 0px;
    }

    main header{
        display: flex;
        flex-direction:column;
        height: auto;
        gap: 1rem;
    }
    main header img{
        margin-bottom: 2rem;
    }


    .central-main{
        text-align: center;
    }

    .central-main h1{
        font-size: 32px;
        line-height: 32px;
    }
    
    .central-main a {
        margin: 1rem;
    }

}
    


/* 375px Mobile */
@media (max-width: 375px)
{
  
}